.undoRedo {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
}

.undo, .redo {
  padding: 0 20px;
  margin: 0;
  width: initial;
  height: 100%;
}

.undo {
  padding-right: 10px;
}

.redo {
  padding-left: 10px;
}
